# --- Backend (Python) ---
backend/venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- Frontend (Node/React) ---
frontend-react/node_modules/
frontend-react/dist/
.eslintcache

# --- Segurança e Configurações ---
.env
.vscode/
.idea/
.DS_Store

# --- Bancos de Dados ---
*.db
*.sqlite3

# --- Logs ---
*.log